<!DOCTYPE html>
<html>
<head>
    <link href="/static/style.css" rel="stylesheet">
    <title>Prediction</title>
</head>

<body>
<h1>
    <div style="text-align:center"><font color='black'>Patient Persistency with the treatment</font></div>
</h1>
<hr>
</br>

<h2>
    <div style="text-align:center">Enter the values</div>
</h2>

</br>

<div class='container' style="text-align:center">
    <div class='row'>
        <div class='col-6'>
            <form action="/predict" method="POST">

                <div class='form-group'>
                    <label for="var_3"><p class="font-weight-bold">Comorbidity:Long Term Current Drug Therapy <br> ( Press 0 for No
                        or 1 for Yes)</p></label>
                    <input id="var_3" name="var_3" type='text'>

                </div>
                <div class='form-group'>
                    <label for="var_4"><p class="font-weight-bold">Comorbidity:For General Exam without complaint <br> (Press 0
                        for No or 1 for Yes)</p></label>
                    <input id="var_4" name="var_4" type='text'>

                </div>
                <div class='form-group'>
                    <label for="var_5"><p class="font-weight-bold">
                        Comorbidity:Encounter for Screening for Malignant Neoplasms <br> ( Press 0 for No or 1 for Yes)</p></label>
                    <input id="var_5" name="var_5" type='text'>
                </div>

                <input class='btn btn-primary' type='submit' value='Submit'>

            </form>
        </div>
    </div>
</div>

</body>
</html>
